<div class="panel panel-default" appBorder borderColor="blue">
    <div class="panel-heading">{{ product.name | uppercase}}</div>
    <div class="panel-body">
        <ul>
            <li>Description: {{ product.description }}</li>
            <li>Price: {{ product.price | currency : 'USD' : true }}</li>
            <li>Category: {{ product.category }}</li>
            <li>{{ product.isAvailable ? "Available" : "Not available"}}</li>
        </ul>
        <button class="btn btn-primary btn-sm" [disabled]="!product.isAvailable" (click)="onAddToCart()">
            Buy
        </button>
        <button class="btn btn-secondary btn-sm" (click)="onGoBack()">
            Back
        </button>
    </div>
</div>
