<h2>Cart</h2>

<div *ngIf="!isEmptyCart else emptyCart">
    <app-cart-item *ngFor="let product of cartProducts$ | async; trackBy: trackByProducts" 
        [cartItem]="product"
        (deleteItem)="onDeleteItem($event)"
        (increaseQuantity)="onQuantityIncrease($event)"
        (decreaseQuantity)="onQuantityDecrease($event)">
    </app-cart-item>
    <p>Total cost: {{ totalCost }}$.</p>
    <p>Total quantity: {{ totalQuantity }}.</p>
    <button class="btn btn-danger" (click)="onEmptyCart()">Empty cart</button>
</div>

<ng-template #emptyCart>
    <span>Your cart is empty.</span>
</ng-template>
